.row {
  margin:0 15px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.itemBox {
  width:23%;
  height:150px;
  text-align:center;
  margin:13px;
  display: table;
  font-size: 25px;
  /*cursor: move;*/
}
.itemBox span{
  vertical-align: middle;
  display: table-cell;
}
